* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width: 90%;
    margin: 10% auto;
    background: rgb(97, 19, 19);
    padding: 5%;    
    border-radius: 8px;
    color:rgb(255, 255, 255);
    text-align: center;
    box-shadow: 3px 3px 5px rgb(0, 162, 255);
}

fieldset {
    width: 79%;
    padding: 5% 0;
    margin: 5% auto;    
    border: 2px solid rgb(200, 200, 221);
    border-radius: 5px;
    font-size: 1.2rem;    
    text-align: center;
}


.radio {
    display: flex;
    justify-content: space-around;
    width: 90%; 
    
}

 .symbols {
    margin: 3% auto;
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}

button {
    background: lightslategray;
    color: #fff;
    border-radius: 5px;
    width: 34%;
    padding: 2%;
    margin: 3%;
    font-size: 1.2rem;
}


.symbolCollection {
    font-size: 6rem;    
    cursor: pointer;
    padding: 5%;
    margin: 2%;
    &:hover  {
        font-size: 8rem;
        transition: .5s linear;         
    }    
}
.yellow {
    color: yellow;
    transition: .5s linear;
}
.green {
    color: green;
    transition: .5s linear;
}
.red {
    color: red;
    transition: .5s linear;
}
.small {
    font-size: .8rem;
    font-family: 'Courier New', Courier, monospace;
}

#gameover, #welcome {
    position: absolute;
    width: 90%;
    height: 500px;
    top: 22%;
    right: 5%;
    background: rgb(35, 66, 75);
    color: rgb(255, 255, 255);
    padding: 4%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px lightgrey;
    
}

#welcome {
    height: 300px;
    width: 80%;
    right: 12%;
}

.symbolCollectionSmall {
    font-size: 2.2rem;
    padding: 2%;
}
.res {
    margin: 9% 0;
}

.block {
    display: block;
}

img {
    width: 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}




