* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

main {
  width: 90%;
  margin: 10% auto;
  background: #611313;
  padding: 5%;
  border-radius: 8px;
  color: white;
  text-align: center;
  box-shadow: 3px 3px 5px #00a2ff;
}

fieldset {
  width: 79%;
  padding: 5%;
  margin: 5% auto;
  border: 2px solid #c8c8dd;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 900px) {
  fieldset {
    font-size: 4rem;
    width: 60%;
    padding: 5%;
  }
}

.radio {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.symbols {
  margin: 3% auto;
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

button {
  background: lightslategray;
  color: #fff;
  border-radius: 5px;
  width: 34%;
  padding: 2%;
  margin: 3%;
  font-size: 1.2rem;
}

.symbolCollection {
  font-size: 5rem;
  cursor: pointer;
  padding: 5%;
  margin: 2%;
}
.symbolCollection:hover {
  font-size: 7rem;
  transition: 0.5s linear;
}
@media (min-width: 900px) {
  .symbolCollection {
    font-size: 8rem;
  }
  .symbolCollection:hover {
    font-size: 12rem;
  }
}

.yellow {
  color: yellow;
  transition: 0.5s linear;
}

.green {
  color: green;
  transition: 0.5s linear;
}

.red {
  color: red;
  transition: 0.5s linear;
}

.small {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

#gameover, #welcome {
  position: absolute;
  width: 90%;
  top: 22%;
  right: 5%;
  background: #23424b;
  color: white;
  padding: 4%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 10px lightgrey;
}
@media (min-width: 900px) {
  #gameover, #welcome {
    font-size: 4rem;
    width: 67%;
    right: 17%;
  }
}

#welcome {
  width: 80%;
  right: 9%;
  background: #7a997a;
}

#rockStart {
  color: #e2a267;
}

#paperStart {
  color: #5b7fcc;
}

#scissorsStart {
  color: #e2e073;
}

.symbolCollectionSmall {
  font-size: 2.2rem;
  padding: 2%;
}

.res {
  margin: 9% 0;
}

.block {
  display: block;
}

img {
  width: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.playButton {
  width: 85%;
  margin: 8%;
  padding: 5% 3%;
  border: 2px solid #ebd9d6;
  box-shadow: 2px 2px 4px tomato;
  background: #e79e3e;
  font-size: 1.5rem;
  position: relative;
}
.playButton:hover, .playButton:active {
  background: #e4d7ca;
  transition: all 0.5s linear;
}
@media (min-width: 900px) {
  .playButton {
    font-size: 2rem;
    padding: 15% 3%;
  }
}

.nothanks, .yesPlease {
  font-size: 0.5rem;
  width: 22%;
  position: absolute;
  top: 73%;
  right: 2%;
  padding: 0;
  background: #e98007;
  border: 1px solid #be7070;
  border-radius: 5px;
}
.nothanks:hover, .yesPlease:hover {
  background: #e7b3aa;
  transition: all 0.5s linear;
}
@media (min-width: 900px) {
  .nothanks, .yesPlease {
    font-size: 0.7rem;
    width: 31%;
    right: 5%;
    padding: 2%;
  }
}

.yesPlease {
  right: 76%;
  background: #365c4c;
}
@media (min-width: 900px) {
  .yesPlease {
    font-size: 0.7rem;
    width: 31%;
    right: 64%;
    padding: 2%;
  }
}/*# sourceMappingURL=style.css.map */